@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outlineBtn {
    @apply px-6 py-1.5 text-xs border-2 border-black rounded-full;
  }
  .fillBtn {
    @apply px-6 py-1.5 text-xs bg-black rounded-full border-2 border-transparent;
  }

  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }
  /* ... */
}
@layer base {
  html {
    @apply font-sans bg-black;
  }
}

.sidebarH {
  height: calc(100% - 1rem);
}
html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.react-horizontal-scrolling-menu--wrapper {
  position: relative !important;
}
