@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */

:root {
  --main: #080b0b;
  --alt: #131819;
  --darkAlpha: #0b0b0b;
  --white: #ffffff;
  --grey: #bdbdbd;
  --darkAlt: #232529;
  --inputGray: #b8bbc0;
  --textGray: #536471;
}

@layer components {
  .outlineBtn {
    @apply px-6 py-1.5 text-xs border-2 border-black rounded-full;
  }
  .fillBtn {
    @apply px-6 py-1.5 text-xs bg-black rounded-full border-2 border-transparent;
  }

  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }
  .profileWidth {
    @apply w-screen md:w-[calc(100%_-_24rem)] md:ml-auto;
  }
  /* ... */
}
@layer base {
  html {
    @apply bg-[#080b0b];
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}
body {
  min-height: 100vh;
}

html,
body {
  height: 100%;
}
.sidebarH {
  height: calc(100% - 1rem);
}
.adminPanelH {
  height: calc(100vh - 64px);
}
html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.react-horizontal-scrolling-menu--wrapper {
  position: relative !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.profile-width {
  width: calc(100% - 24em);
}

/* Calendar Colors*/
.rdrDateDisplayWrapper {
  background-color: var(--main) !important;
}
.rdrDateDisplayItem {
  border-radius: 4px;
  background-color: var(--alt) !important;
  box-shadow: none !important;
  border: 1px solid var(--alt) !important;
}
.rdrDateDisplayItemActive {
  border: 1px solid var(--main) !important;
}
.rdrCalendarWrapper {
  background-color: var(--darkAlpha) !important;
}
.rdrNextPrevButton {
  background-color: var(--alt) !important;
}
.rdrNextButton i {
  border-color: transparent transparent transparent #fff !important;
}
.rdrPprevButton i {
  border-color: transparent #fff transparent transparent !important;
}
.rdrDayNumber span {
  color: var(--grey) !important;
}
.rdrMonth {
  width: 100% !important;
}
.rdrDateDisplayItemActive input {
  color: #fffbf0 !important;
}
.rdrMonthAndYearPickers select {
  filter: contrast(0.25) !important;
}
.rdrDayDisabled {
  background-color: transparent !important;
  opacity: 0.3 !important;
  color: black !important;
}

/* MAPBOX */

.search {
  width: 100% !important;
  outline: none !important;
}
.react-mapbox-ac-menu {
  width: calc(100% - 16px) !important;
  position: absolute;
  z-index: 9999;
  background-color: var(--darkAlt) !important;
  border: none !important;
  border-radius: 0.375rem;
  overflow: hidden;
  margin-top: 4px !important;
}

.react-mapbox-ac-input {
  background-color: var(--darkAlt) !important;
  height: 2.75rem;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  color: var(--inputGray);
  border-radius: 0.375rem;
}
.react-mapbox-ac-input::placeholder {
  font-size: 0.875rem /* 14px */ !important;
  line-height: 1.25rem /* 20px */ !important;
  color: var(--textGray);
}

.react-mapbox-ac-suggestion {
  font-size: 0.875rem /* 14px */ !important;
  line-height: 1.25rem /* 20px */ !important;
  color: var(--inputGray);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.react-mapbox-ac-suggestion:last-child {
  border-bottom: none !important;
}

.react-mapbox-ac-suggestion:hover {
  background-color: var(--alt) !important;
}

@media (min-width: 600px) {
  .react-mapbox-ac-input {
    font-size: 0.875rem /* 14px */ !important;
    line-height: 1.25rem /* 20px */ !important;
  }
}
