@tailwind base;
@tailwind components;
@tailwind utilities;

.gridBg {
  height: calc(100vh - 3.5rem);
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 3px,
      #f2f2f2 3px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 3px,
      #f2f2f2 3px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px,
    80px 80px, 80px 80px;
}

@layer components {
  .outlineBtn {
    @apply px-6 py-1.5 text-xs border-2 border-black rounded-full;
  }
  .fillBtn {
    @apply px-6 py-1.5 text-xs bg-black rounded-full border-2 border-transparent;
  }

  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }
  /* ... */
}
@layer base {
  html {
    @apply font-sans;
  }
}
